body {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: normal;
}

.header {
	background: #000;
}

@mixin font($weigh) {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: $weigh;
}

/********************************************
************************catalog-filter*******
*******************************************/

.catalog {
	&__container {
		margin: 0 20px;
	}

	&__nav {
		display: block;
		margin: 32px 0;
		font-size: 18px;
		line-height: 21px;
		color: #797979;
	}

	&__body {
		display: flex;
		align-items: flex-start;
	}

	&__filter {
		flex: 0 1 25%;
		border: 1px solid #e4e4e4;
	}

	&__wrap {
		flex: 0 1 75%;
	}
}
.filter {
	&__item {
		margin: 40px 10px 40px 40px;
	}

	&__custom {
		margin-top: 20px;
		h4 {
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			color: #101111;
		}
	}
}
.custom {
	&__checkbox {
		position: relative;
		margin-top: 12px;
		&:first-of-type {
			margin-top: 20px;
		}
	}

	&__input {
		position: absolute;
		z-index: -3;
		opacity: 0;
		display: none;

		& + label {
			display: inline-flex;
			align-items: center;
			user-select: none;
			padding-right: 10px;
			position: relative;
			&::before {
				content: "";
				display: inline-block;
				width: 15px;
				height: 15px;
				flex-shrink: 0;
				flex-grow: 0;
				background: #ffffff;
				border: 1px solid #e4e4e4;
				box-sizing: border-box;
				border-radius: 3px;
				margin-right: 0.5em;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 50% 50%;
				transition: all 0.4s;
				position: relative;
				z-index: 5;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				width: 12px;
				height: 12px;
				top: 4px;
				left: 4px;
				background: #fff;
				-webkit-transition: 0.2s;
				-o-transition: 0.2s;
				transition: 0.2s;
			}
		}

		&:checked + label::before {
			position: relative;
			z-index: 5;
			background-color: #32e0c4;
			background-image: url("../img/input_active.svg");
		}
	}

	&__label {
		font-size: 14px;
		line-height: 16px;
		color: #101111;
		cursor: pointer;
	}
}

.checkbox__favorites {
	@include font(600);
	font-size: 16px;
	line-height: 19px;
	color: #e27373;
	& .checkbox__heart {
		margin: 0 5px 0 7px;
	}
}

.filter__closed {
	display: none;
}

/*catalog__wrap*************************************************************************************/

.catalog {
	&__search {
		display: flex;
		position: relative;
	}
}
.search {
	&__input {
		width: 100%;
		background: #ffffff;
		border: 1px solid #e4e4e4;
		box-sizing: border-box;
		padding: 15px;
		border-radius: 0px 10px 10px 0px;
		color: #797979;
	}

	&__buttom {
		background: inherit;
		border: none;
		box-sizing: border-box;
		cursor: pointer;
		position: absolute;
		right: 18px;
		top: 11px;
		display: inline-block;
	}

	&__img {
		width: 15px;
		height: 25px;
	}
}
.search__open-menu {
	display: none;
}

@media (max-width: 767.98px) {
	.search__open-menu {
		display: block;
		background: #f5f5f5;
		border-radius: 5px;
		padding: 0 13px;
		margin-right: 10px;
		cursor: pointer;
	}
}
/*cards************************************************************************************************/

.catalog__cards {
	margin-left: 30px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}
.catalog__card {
	flex: 0 1 30%;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

.img__cigarette {
	max-height: 259px;
	transform: scale(0.7);
	position: relative;
	top: 15px;
}
.card {
	&__img {
		background-color: #e4e4e4;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		border-radius: 10px;
	}

	&__content {
		padding-top: 20px;
	}

	&__status {
		position: absolute;
		top: -5px;
		left: 0px;
		transform: scale(0.9);
		text-align: center;
		transform: scale(0.8);
	}
	&__new {
		margin-top: 10px;
		@include font(600);
		font-size: 12px;
		line-height: 17px;
		color: #419aff;
		background: #d6e9fe;
		border-radius: 5px;
		width: 87px;
		height: 27px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__top-sale {
		margin-top: 10px;
		@include font(600);
		font-size: 12px;
		line-height: 17px;
		color: #f6ac1c;
		position: relative;
		border-radius: 5px;
		background: #fff2c4;
		width: 109px;
		height: 27px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__sale {
		margin-top: 10px;
		@include font(600);
		font-size: 12px;
		line-height: 17px;
		color: #e27373;
		background: #ffd5d5;
		border-radius: 5px;
		width: 115px;
		height: 27px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__reting {
		display: flex;
		align-items: flex-end;
		font-size: 30px;
		line-height: 0.75;
	}

	&__title {
		margin-top: 20px;
		@include font(500);
		font-size: 22px;
		line-height: 26px;
		color: #000000;
	}

	&__price {
		margin-top: 20px;
	}

	&__button {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 575.98px) {
	.card__button {
		justify-content: flex-start;
	}
}

@media (max-width: 400.98px) {
	.card__button {
		justify-content: space-between;
	}
}
.status {
}
.reting {
	&__body {
		position: relative;
		&::before {
			content: "★★★★★";
			display: block;
			color: #eeeeee;
		}
	}

	&__active {
		position: absolute;
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		&::before {
			content: "★★★★★";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: #ffed8c;
		}
	}

	&__items {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__item {
		flex: 0 0 15%;
		height: 100%;
		opacity: 0;
	}
}
.price {
	&__not {
		@include font(normal);
		font-size: 20px;
		line-height: 23px;
		color: #bfbfbf;
		text-decoration: line-through;
		margin-right: 10px;
	}

	&__actual {
		@include font(bold);
		font-size: 24px;
		line-height: 29px;
		color: #000000;
	}

	&__title {
		@include font(normal);
		font-size: 20px;
		line-height: 23px;
		color: #bfbfbf;
	}
}

@media (max-width: 1080px) {
	.price__not {
		display: block;
	}
	.img__cigarette {
		transform: scale(0.6);
		top: 20px;
	}

	.card__title {
		font-size: 22px;
		line-height: 22px;
		.price__actual {
			font-size: 20px;
		}
	}
}

@media (max-width: 850px) {
	.catalog__body {
		padding-left: 30px;
	}
	.catalog__cards {
		margin: 0 30px;
	}
	.catalog__card {
		flex: 0 1 50%;
		margin: 30px -30px 0 -30px;
	}
	.price__not {
		display: block;
	}
	.img__cigarette {
		transform: scale(0.6);
		top: 20px;
	}
	.price__actual {
		font-size: 20px;
	}
	.card__title {
		font-size: 22px;
		line-height: 25px;
	}

	.filter__item {
		margin: 40px 0 40px 10px;
	}
}

@media (max-width: 767.98px) {
	.filter__item {
		margin: 40px 30px 40px 19px;
	}
	.price__not {
		display: inline-block;
	}
	.catalog__nav {
		margin: 100px 0 15px 0;
	}
	.catalog__wrap {
		flex: 0 1 100%;
	}
	.catalog__filter {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 0%;
		flex: 0 1 0%;
		position: fixed;
		top: 0;
		left: -100%;
		width: 300px;
		height: 100%;
		transition: all 0.3s;
		z-index: 99;
		background: #fff;
		overflow: auto;
		transition: all 0.3s;
	}
	//mobile-menu*********************************************************************************
	.filter__closed {
		display: flex;
		margin-bottom: 40px;
		align-items: center;
		justify-content: space-between;
	}

	.closed {
		&__title {
			@include font(normal);
			font-size: 20px;
			line-height: 23px;
			color: #797979;
		}

		&__buttom {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			height: 45px;
			border: 1px solid #e4e4e4;
			box-sizing: border-box;
			border-radius: 5px;
			position: relative;

			&::before {
				content: "";
				width: 23px;
				height: 1px;
				background-color: #797979;
				display: block;
				position: absolute;
				transform: rotate(45deg);
			}
			&::after {
				content: "";
				width: 23px;
				height: 1px;
				background-color: #797979;
				display: block;
				position: absolute;
				transform: rotate(-45deg);
			}
		}
	}

	.__open {
		left: 0;
		transition: all 0.3s;
	}

	.__lock {
		overflow: hidden;
	}
	.fon-menu {
		display: none;
		background: rgba(0, 0, 0, 0.47);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		z-index: 50;
		transition: all 0.3s;
	}

	.filter__custom {
		.custom__title {
			position: relative;

			.filter__sparow {
				position: absolute;
				right: 0;
				top: 50%;
				border: 7px solid transparent;
				border-top: 7px solid #000;
				border-radius: 3px;
				transition: all 0.3s;
			}
		}
	}

	.custom__container {
		display: none;
	}
	.fon-open {
		display: block;
	}
	.filter__custom .custom__title .__sparow {
		transition: all 0.3s;
		transform: rotate(180deg) translate(0, 50%);
		border-top: 7px solid #797979;
	}
	.catalog__body {
		margin-left: 0;
		padding-left: 0;
	}
	.catalog__cards {
	}
	.catalog__card {
		flex: 0 1 50%;
		margin: 30px -30px 0 -30px;
	}

	.search__input {
		width: 100%;
		padding: 15px;
		border-radius: 10px;
	}
}

@media (max-width: 575.98px) {
	.catalog__cards {
		margin: 0;
	}
	.catalog__card {
		flex: 0 1 100%;
		margin: 30px 0px 0 0px;
	}
}

.button {
	&__basket {
		@include font(600);
		padding: 18px 40px;
		font-size: 16px;
		line-height: 24px;
		color: #797979;
		background: inherit;
		border: 1px solid #e4e4e4;
		box-sizing: border-box;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.3s;
		&:hover {
			color: #fff;
			background: #32e0c4;
		}
	}
}

@media (max-width: 701.98px) {
	.button__basket {
		padding: 18px 10px;
	}
}
@media (max-width: 575.98px) {
	.button__basket {
		padding: 18px 40px;
	}
}
@media (max-width: 341.98px) {
	.button__basket {
		padding: 18px 25px;
	}
}
.reting_set .reting__active,
.reting_set .reting__item {
	cursor: pointer;
}
.reting__value {
	font-size: 50%;
	line-height: 1;
	padding-left: 10px;
	display: none;
}

/*like***************************************************************************************************/

.img__heart {
	position: absolute;
	top: 9px;
	right: 10px;
	width: 17px;
	height: 15px;
}
.button__heart {
	display: none;
}

#svg_2 {
	fill: #c7b9b9;
	stroke-width: 6px;
	cursor: pointer;
	transition: fill 0.3s;
}
#svg_2.filled {
	fill: #e27373;
}

@media (max-width: 767.98px) {
	.button__heart {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fafafa;
		border-radius: 10px;
		width: 60px;
		margin-left: 10px;
		#svg_2 {
			fill: transparent;
			stroke-width: 6px;
			cursor: pointer;
			transition: fill 0.3s;
			stroke: #797979;
		}

		#svg_2.filled {
			fill: #e27373;
		}
	}

	.button__heart-img {
		width: 24px;
		height: 24px;
	}
}

/*pagination***************************************************************************************************/

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 80px;
	&__link {
		@include font(600);
		width: 45px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
		color: #797979;
		background: #fff;
		border: 1px solid #e4e4e4;
		box-sizing: border-box;
		border-radius: 10px;
		margin: 0 7px;
		transition: all 0.3s;
		&:hover {
			background: #fafafa;
		}
	}

	&__active {
		background: #fafafa;
	}
}

/********************************************
************************footer*******
*******************************************/

.footer {
	background: #0d0d0d;
	margin-top: 80px;

	&__container {
		padding: 40px 0 27px 0;
		display: flex;
	}

	&__logo {
		flex-basis: 25%;
	}

	&__img {
		width: 291px;
		height: 147px;
	}

	&__nav {
		flex-basis: 20%;
		display: flex;
		justify-content: center;
	}

	&__bots {
		flex-basis: 20%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__contact {
		flex-basis: 35%;
		display: flex;
		justify-content: flex-end;
	}
	.navigation {
		&__list {
			display: flex;
			flex-direction: column;
			width: auto;
		}

		&__item {
			padding: 30px 0px 0px 0;
			border: none;
			&:first-of-type {
				padding: 0;
			}
		}
	}
}

.contact__items {
	display: flex;
	flex-direction: column;
}

.bots {
	&__link {
		margin-top: 30px;
		&:first-of-type {
			margin-top: 0;
		}
	}

	&__messenger {
		position: relative;
	}
}

.footer__telegram {
	&::before {
		background: url(../img/footerTelegram.svg);
		width: 24px;
		height: 21px;
		left: -34px;
	}
}

.footer__viber {
	&::before {
		background: url(../img/footerViber.svg);
		width: 24px;
		height: 24px;
		left: -34px;
	}
}
.messenger {
	&__name {
		&::before {
			content: "";
			position: absolute;
		}
	}
}
.contact {
	&__phone {
		font-size: 25px;
		line-height: 29px;
	}

	&__name {
		@include font(normal);
		font-size: 12px;
		line-height: 14px;
		color: #ffffff;
		opacity: 0.3;
		margin-right: 9px;
	}

	&__address {
	}
}

.bots__item {
	margin-top: 29px;

	&:first-of-type {
		margin-top: 0;
	}
}

.contact__item {
	display: flex;
	align-items: center;
	margin-top: 20px;
	&:first-of-type {
		margin: 0;
	}
	display: flex;
	justify-content: flex-end;
}

/*footer-media*******************************************************************/

@media (max-width: 1018px) {
	.footer {
		&__container {
			padding: 40px 0 27px 0;
			display: flex;
			flex-wrap: wrap;
		}

		&__logo {
			flex-basis: 50%;
			order: 1;
			justify-content: flex-start;
		}

		&__img {
			width: 291px;
			height: 147px;
		}

		&__nav {
			margin-top: 20px;
			flex-basis: 50%;
			display: flex;
			justify-content: flex-start;
			order: 3;
		}

		&__bots {
			order: 2;
			flex-basis: 50%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
		}

		&__contact {
			margin-top: 20px;
			order: 4;
			flex-basis: 50%;
			display: flex;
			justify-content: flex-end;
		}
		.navigation {
			&__item {
				padding: 20px 0px 0px 0;
				border: none;
			}
		}
	}

	.contact__phone {
		font-size: 20px;
		line-height: 23px;
	}
	.bots__item {
		display: flex;
		justify-content: flex-end;
	}
}

@media (max-width: 767.98px) {
	.footer {
		&__container {
			padding: 40px 0 27px 0;
			display: flex;
			flex-wrap: wrap;
		}

		&__logo {
			flex-basis: 100%;
			order: 1;
			display: flex;
			justify-content: center;
		}

		&__img {
			width: 291px;
			height: 147px;
		}

		&__nav {
			margin-top: 20px;
			flex-basis: 100%;
			display: flex;
			justify-content: center;
			order: 2;
		}

		&__bots {
			order: 3;
			flex-basis: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			left: 20px;
		}

		&__contact {
			margin-top: 40px;
			order: 4;
			flex-basis: 100%;
			display: flex;
			justify-content: center;
		}
		.navigation {
			&__list {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 50px;
			}
			&__item {
				padding: 20px 0px 0px 0;
				border: none;
			}
		}

		.contact__item {
			display: flex;
			flex-direction: column;
		}
		.footer__viber {
			position: relative;
			right: 25px;
		}
		.contact__name {
			margin-bottom: 10px;
		}
	}
}

.footer {
	&__politics {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}
}
.politics__items {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.politics {
	&__link {
		@include font(normal);
		font-size: 16px;
		line-height: 19px;
		color: #707070;
	}
}

@media (max-width: 767.98px) {
	.politics__items {
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		position: relative;
	}

	.footer {
		&__politics {
			border-top: 1px solid rgba(255, 255, 255, 0.2);
		}
		.img__boto {
			display: flex;
			position: absolute;
			right: 0;
			top: 10px;
		}
		.politics__link {
			font-size: 12px;
		}
	}
}
